
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Media</title>
	<link rel="stylesheet" href="./css/style.css">
	<script src="https://kit.fontawesome.com/da947aa688.js"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Website name</a>
      </h1>
      <nav>
        <a href="/dashboard">Create Post</a>
        <a href="/login">Login</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
</body>
</html>