<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Website name</a>
      </h1>
      <nav>
        <a href="/photos">Family Photos</a>
        <a href="/calendar">Calendar</a>
        <a href="/dashboard">Create Post</a>
        <a href="/login">Login</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
</body>

</html>