<div class="container">
    <div class="row">
        <div class="new-list-form col-lg-6">
            <h3>Add Todo</h3>
            <input type="text" name="todo-title" id="todo-title"><br>
            <textarea id="todo-list" name="todo-list"></textarea> <br>
            <button type="submit" class="add-btn btn btn-success">
                <i class="bi bi-plus-circle"></i> Add
            </button>
        </div>
        <div class="col-lg-6">
            <h3>Todo List</h3>
            <ol>

            </ol>
        </div>
    </div>
</div>

<script src="/javascript/add-todo.js"></script>